In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import seaborn as sns
import ccxt
import functions as fn
from data import fees_schedule, order_book
from timeit import default_timer as timer
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
ob_data = pd.read_json('files/orderbooks_ray.json', orient='values', typ='series')
exchanges = ["kraken", "bitfinex"]
symbol = 'BTC/EUR'
expected_volume = 0

In [3]:
fees = [fees_schedule(exchange=i, symbol=symbol, expected_volume=expected_volume) for i in exchanges]

In [4]:
def dict_to_df(exchange, timestamp, orderbook):
    orderbooks_data = orderbook
    ask_size = orderbooks_data[exchange][timestamp]['ask_size'].values()
    ask = orderbooks_data[exchange][timestamp]['ask'].values()
    bid_size = orderbooks_data[exchange][timestamp]['bid_size'].values()
    bid = orderbooks_data[exchange][timestamp]['bid'].values()
    

    df_orderbook = pd.DataFrame(columns=['ask_size', 'ask', 'bid', 'bid_size','status'])
    df_orderbook['ask_size'] = ask_size
    df_orderbook['ask'] = ask
    df_orderbook['bid'] = bid
    df_orderbook['bid_size'] = bid_size
    df_orderbook['status'] = exchange
    return df_orderbook

In [5]:
def f_del_none_dict(dictionary_to_clean):
    dict_c = dictionary_to_clean
    clean_ob_data = {k: v for k, v in dict_c.items() if v is not None}
    display(
    'Number of historical orderbooks:',
    ('Before dropping Nones: '+ str(len(dict_c))),
    ('After dropping Nones: ' + str(len(clean_ob_data))))
    return clean_ob_data

In [6]:
def plot_orderbook_2excahnges(ob_data_plot_origin, ob_data_plot_destionation):
    ob_data = ob_data_plot_origin
    ob_data_bid = ob_data[['bid_size', 'bid']]
    ob_data_bid = ob_data_bid.sort_values(ascending = True, by='bid')
    ob_data_ask = ob_data[['ask_size', 'ask']]
    ob_data_ask = ob_data_ask
    fig = go.Figure()
    fig.add_trace(
        go.Bar(x=ob_data_bid['bid'],
                y=ob_data_bid['bid_size'], name = 'Bid-Origin',width=.7, opacity=0.5, marker_color = 'red',
              text=ob_data['status']))

    fig.add_trace(
        go.Bar(x=ob_data_ask['ask'],
                y=ob_data_ask['ask_size'],name = 'Ask-Origin',width=.7, opacity=0.5, marker_color = 'blue',
              text=ob_data['status']))


    ob_data = ob_data_plot_destionation
    ob_data_bid = ob_data[['bid_size', 'bid']]
    ob_data_bid = ob_data_bid.sort_values(ascending = True, by='bid')
    ob_data_ask = ob_data[['ask_size', 'ask']]
    ob_data_ask = ob_data_ask
  
    fig.add_trace(
        go.Bar(x=ob_data_bid['bid'],
                y=ob_data_bid['bid_size'], name = 'Bid-Destination',width=.7, opacity=0.5, marker_color = 'yellow',
              text=ob_data['status']))

    fig.add_trace(
        go.Bar(x=ob_data_ask['ask'],
                y=ob_data_ask['ask_size'],name = 'Ask-Destination',width=.7, opacity=0.5, marker_color = 'green',
              text=ob_data['status']))
    
        
        
    
    #fig.update_xaxes(type='category')
    
    fig.update_traces(marker_line_color='rgb(8,48,107)',
                  marker_line_width=.6)
    
    
    fig.update_layout(
    width=950,
    height=650)
    # Update yaxis properties
    fig.update_yaxes(title_text="Size")
    fig.update_xaxes(title_text="Price")
    fig.show()

In [7]:
clean_order_kraken = f_del_none_dict(ob_data['kraken'])

clean_order_bitfinex = f_del_none_dict(ob_data['bitfinex'])

'Number of historical orderbooks:'

'Before dropping Nones: 116'

'After dropping Nones: 39'

'Number of historical orderbooks:'

'Before dropping Nones: 116'

'After dropping Nones: 79'

In [8]:
df_datetime = pd.DataFrame(columns=['dict_key', 'timestamp', 'exchange'])
df_datetime['dict_key'] = clean_order_kraken.keys()
df_datetime['timestamp'] = clean_order_kraken.keys()
df_datetime['exchange'] = 'kraken'

df_datetime_aux = pd.DataFrame(columns=['dict_key', 'timestamp', 'exchange'])
df_datetime_aux['dict_key'] = clean_order_bitfinex.keys()
df_datetime_aux['timestamp'] = clean_order_bitfinex.keys()
df_datetime_aux['exchange'] = 'bitfinex'

df_datetime = df_datetime.append(df_datetime_aux)
df_datetime['timestamp'] = pd.to_datetime(df_datetime['timestamp'])
df_datetime = df_datetime.sort_values(by=['timestamp'])
df_datetime = df_datetime.reset_index(drop=True)
df_datetime.head(10)

                   dict_key                        timestamp  exchange
0  2021-11-24T15:15:49.471Z 2021-11-24 15:15:49.471000+00:00  bitfinex
1  2021-11-24T15:15:50.775Z 2021-11-24 15:15:50.775000+00:00  bitfinex
2  2021-11-24T15:15:52.234Z 2021-11-24 15:15:52.234000+00:00  bitfinex
3  2021-11-24T15:15:52.328Z 2021-11-24 15:15:52.328000+00:00    kraken
4  2021-11-24T15:15:54.154Z 2021-11-24 15:15:54.154000+00:00  bitfinex
5  2021-11-24T15:15:55.277Z 2021-11-24 15:15:55.277000+00:00    kraken
6  2021-11-24T15:15:55.279Z 2021-11-24 15:15:55.279000+00:00  bitfinex
7  2021-11-24T15:15:56.773Z 2021-11-24 15:15:56.773000+00:00  bitfinex
8  2021-11-24T15:15:58.376Z 2021-11-24 15:15:58.376000+00:00    kraken
9  2021-11-24T15:15:58.672Z 2021-11-24 15:15:58.672000+00:00  bitfinex

In [9]:
current = df_datetime['timestamp'][4]
current

Timestamp('2021-11-24 15:15:54.154000+0000', tz='UTC')

In [10]:
bit_time = df_datetime[df_datetime['exchange'] == 'bitfinex']
future = bit_time[bit_time['timestamp'] > current].reset_index(drop=True)
future.loc[0]['timestamp']

Timestamp('2021-11-24 15:15:55.279000+0000', tz='UTC')

In [11]:
kraken = dict_to_df('kraken','2021-11-24T15:15:52.328Z' , ob_data)
kraken

    ask_size      ask      bid  bid_size  status
0      0.309  56308.5  56308.4     0.050  kraken
1      0.177  56309.0  56304.9     0.081  kraken
2      4.442  56312.5  56304.8     0.020  kraken
3      0.500  56317.3  56304.7     0.099  kraken
4      0.200  56318.2  56303.8     0.064  kraken
..       ...      ...      ...       ...     ...
95     1.443  56481.3  56102.8     0.333  kraken
96     0.219  56481.8  56102.7     0.010  kraken
97     0.220  56484.5  56100.0     0.037  kraken
98     0.566  56487.4  56097.9     0.320  kraken
99     0.069  56489.5  56095.4     1.796  kraken

[100 rows x 5 columns]

In [12]:
def post_maker_bid(origin_bid, volume, taker_fee, maker_fee, inventory, tokens, ex_D_final, decimals, profit, lat):
    
    destination_bid = calc_D_bid(origin_bid, taker_fee, maker_fee, decimals, profit) #obtenemos el precio de equilibrio
    
    if (inventory['asset'] - volume).values[0] >= 0:
    
        inventory.update({'asset': (inventory['asset'] - volume).values[0]}) #reservamos el volumen a entregar en caso de ejecucion
        tokens.update({'asset': (tokens['asset'] + volume).values[0]})       #reservamos el volumen a entregar en caso de ejecucion
        ex_D_final.loc[-1] = [volume.values[0],destination_bid.values[0],"bid"] #posteamos la orden
        print('Order posted')
        print(ex_D_final.loc[-1])
        ex_D_final = ex_D_final.sort_values('price') #ordenamos el libro
        ex_D_final.reset_index(inplace=True, drop=True) #reseteamos el índice
        time.sleep(lat)
    else:
        print('Not enough Assets in inventory')
    return ex_D_final, inventory, tokens

def post_maker_ask(origin_ask, volume, taker_fee, maker_fee,inventory, tokens,ex_D_final, decimals, profit, lat):
    
    destination_ask = calc_D_ask(origin_ask, taker_fee, maker_fee, decimals, profit) #obtenemos el precio de equilibrio
    
    if (inventory['fiat'] - destination_ask * volume).values[0] >= 0:
        
        inventory.update({'fiat': (inventory['fiat'] - destination_ask * volume).values[0]}) #reservamos el volumen a entregar en caso de ejecucion
        tokens.update({'fiat': (tokens['fiat'] + destination_ask * volume).values[0]})       #reservamos el volumen a entregar en caso de ejecucion
        ex_D_final.loc[-1] = [volume.values[0],destination_ask.values[0],"ask"] #posteamos la orden
        print('Order posted')
        print(ex_D_final.loc[-1])
        ex_D_final = ex_D_final.sort_values('price') #ordenamos el libro
        ex_D_final.reset_index(inplace=True, drop=True)  #reseteamos el índice
        time.sleep(lat)
        
    else:
        print('Not enough Fiat in inventory')
        
    return ex_D_final, inventory, tokens

In [13]:
def calc_D_bid(origin_bid, taker_fee, maker_fee, decimals, profit):
    b = origin_bid*(1-taker_fee)/(1+maker_fee) - profit
    return round(b,decimals)

def calc_D_ask(origin_ask, taker_fee, maker_fee, decimals, profit):
    a = origin_ask*(1+taker_fee)/(1-maker_fee) + profit
    return round(a,decimals)

In [14]:
def execute_bids(origin_bid, destination_bid, taker_fee, maker_fee, volume, inventory, tokens, ex_D_final,ex_O_final, lat):
    
    #ejecutamos el origin bid
    idx = ex_O_final[(ex_O_final['Type'] =='bid') & (ex_O_final['price'] == origin_bid)].index[0] #obtenemos la orden orig
    ex_O_final.loc[idx,'size'] = ex_O_final.loc[idx,'size'] - volume #actualizamos el size
    
    tokens.update({'fiat': tokens['fiat'] + volume * origin_bid * (1 - taker_fee)})#Recibimos el bid menos la comision
    tokens.update({'asset': tokens['asset'] - volume}) #entregamos el activo
    
    #nos ejecutan el destination bid
    idx = ex_D_final[(ex_O_final['Type'] =='bid') & (ex_D_final['price'] == destination_bid)].index[0] #obtenemos la orden dest
    ex_D_final.loc[idx,'size'] = ex_D_final.loc[idx,'size'] - volume #actualizamos el size
    
    inventory.update({'asset': inventory['asset'] + volume}) #obtenemos el activo
    tokens.update({'fiat': tokens['fiat'] - volume * destination_bid * (1 + maker_fee)})#pagamos el bid más la comisión
    time.sleep(lat)
    return inventory, tokens, ex_D_final, ex_O_final

def execute_asks(origin_ask, destination_ask, taker_fee, maker_fee, volume, inventory, tokens, ex_D_final,ex_O_final, lat):
    
    #ejecutamos el origin ask
    idx = ex_O_final[(ex_O_final['Type'] =='ask') & (ex_O_final['price'] == origin_ask)].index[0] #obtenemos la orden orig
    ex_O_final.loc[idx,'size'] = ex_O_final.loc[idx,'size'] - volume #actualizamos el size
    
    tokens.update({'asset': tokens['asset'] + volume}) #obtenemos el activo
    tokens.update({'fiat': tokens['fiat'] - volume * origin_ask * (1 + taker_fee)})#pagamos el ask más la comisión
    
    #nos ejecutan el destination bid
    idx = ex_D_final[(ex_D_final['Type'] =='ask') & (ex_D_final['price'] == destination_ask)].index[0] #obtenemos la orden dest
    ex_D_final.loc[idx,'size'] = ex_D_final.loc[idx,'size'] - volume #actualizamos el size
    
    inventory.update({'fiat': inventory['fiat'] + volume * destination_ask * (1 - maker_fee)})#Recibimos el ask menos la comision
    tokens.update({'asset': tokens['asset'] - volume}) #entregamos el activo
    time.sleep(lat)
    return inventory, tokens, ex_D_final, ex_O_final

In [15]:
def flatten_D(ex_D):
    ex_D_ask = ex_D.loc[:,'ask_size':'ask'].copy()
    ex_D_ask.columns = ['size', 'price']
    ex_D_ask['Type'] = 'ask'
    ex_D_bid = ex_D[['bid_size','bid']].copy()
    ex_D_bid.columns = ['size', 'price']
    ex_D_bid['Type'] = 'bid'
    ex_D_final = pd.concat([ex_D_ask,ex_D_bid]).sort_values('price')
    ex_D_final.reset_index(inplace=True, drop=True)
    return ex_D_final

def flatten_O(ex_O, spread):
    
    Mid_price_origin = round((min(ex_O.ask)+max(ex_O.bid))/2,6)
    PLimit_Repl_max = Mid_price_origin * (1+spread/10000)
    PLimit_Repl_min = Mid_price_origin * (1-spread/10000)
        
    ex_O_ask = ex_O[ex_O.ask<=PLimit_Repl_max].loc[:,'ask_size':'ask'].copy() #limitamos por los bps a replicar
    ex_O_ask.columns = ['size', 'price']
    ex_O_ask = ex_O_ask[~ex_O_ask.price.isin([ex_O_ask.price])] #no copiaremos los precios donde ya hay volumen
    ex_O_ask['Type'] = 'ask'
    ex_O_bid = ex_O[ex_O.bid>=PLimit_Repl_min][['bid_size','bid']].copy()#limitamos por los bps a replicar
    ex_O_bid.columns = ['size', 'price']
    ex_O_bid = ex_O_bid[~ex_O_bid.price.isin([ex_O_bid.price])] #no copiaremos los precios donde ya hay volumen
    ex_O_bid['Type'] = 'bid'
    ex_O_final = pd.concat([ex_O_ask,ex_O_bid]).sort_values('price')
    ex_O_final.reset_index(inplace=True, drop=True)
    return ex_O_final

In [88]:
from timeit import default_timer as timer
import time
start_time = timer()
tdelta=1.54

while True:
    for i in range(50):
        current_time = timer()
        elapsed_time = current_time - start_time
    time.sleep(0.1)

    
    if elapsed_time > tdelta:
        break

In [105]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
current_kraken = ''
current_bitfinex = ''
test = [1,2,3,4,1,1,1,3,3,3,3,3]
lat = 0.01
k = 0
b = 0
order_pairs = pd.DataFrame(columns=['size', 'price', 'type', 'source', 'id'])
for i in range(len(test)):
    if df_datetime['exchange'][i] == 'kraken' and k==0:
        k=1
        current_kraken = df_datetime['dict_key'][i]

    if df_datetime['exchange'][i] == 'bitfinex':
        b=1
        current_bitfinex = df_datetime['dict_key'][i]
        current_bitfinex_time = df_datetime['timestamp'][i]

    if k==1 and b==1:
        print('Al momento')
        print(current_bitfinex, 'bitfinex')
        print(current_kraken, 'kraken')
        
        k=0
        b=0
        
        bit_time = df_datetime[df_datetime['exchange'] == 'bitfinex']
        future = bit_time[bit_time['timestamp'] > current_bitfinex_time].reset_index(drop=True)
        future_bitfinex_time = future.loc[0]['timestamp']
        tdelta = (future_bitfinex_time - current_bitfinex_time).total_seconds()
        
        print('TIEMPO MAS CERCANO FUTURO BITFINEX', future_bitfinex_time)
    
        #Sacar los OB
        ex_O = dict_to_df('kraken',current_kraken , ob_data)
        ex_D = dict_to_df('bitfinex',current_bitfinex , ob_data)
        
        ex_D_final = flatten_D(ex_D)
        ex_O_final = flatten_O(ex_O, spread = 25)
        
        #print('Destination inicial',ex_D_final)
        #print('Origin inicial',ex_O_final)
        
        display('Highest Bid Prices')
        display('Destination: '+ exchanges[1]+ ' ' + str(max(ex_D.bid)))
        display('Origin: ' + exchanges[0]+ ' ' + str(max(ex_O.bid)))

        display('Lowest Ask Prices')
        display('Destination: ' + exchanges[1]+ ' ' + str(min(ex_D.ask)))
        display('Origin: ' + exchanges[0]+ ' ' +str(min(ex_O.ask)))
        
        
        
        bid_example = ex_O_final[ex_O_final['Type'] =='bid']
        bid_example = bid_example[bid_example['price'] == bid_example['price'].max()]
        init_bid = bid_example.index.values[0]

        ask_example = ex_O_final[ex_O_final['Type'] =='ask']
        ask_example = ask_example[ask_example['price'] == ask_example['price'].min()]
        init_ask = ask_example.index.values[0]
        
        display(bid_example)
        display(ask_example)
        
        taker_fee = fees[0]['taker']*0.0001 #bps to decimal
        maker_fee = fees[1]['maker']*0.0001 #bps to decimal
        token = 100 #BTC
        fiat = 1000000 #EUR
        inventory = {'asset':100, 'fiat':1000000}
        tokens = {'asset':0, 'fiat':0}
        profit = 0.01 #1 centavo de profit por trade
        decimals = 10
        print(tdelta)
        time_i = timer() 
        
        order_historical = pd.DataFrame(columns=['size', 'price', 'type', 'source', 'status', 'time_delta'])
        
        
        
        for t in range(len(ex_O_final)):
            
            to_ex = order_historical[(order_historical['time_delta'] <= timer() - time_i)  & (order_historical['time_delta'] > 0)].reset_index()
            
            display(to_ex)
            
            for j in range(len(to_ex)):    
                if len(to_ex) >=1:

                    if to_ex.loc[j]['type'] == 'bid':
                        id_orden = order_pairs[order_pairs['price'] == to_ex.loc[j]['price']]['id'].values[0]
        
                        #print(order_pairs[order_pairs['id'] == id_orden])
                        origin_price = order_pairs[order_pairs['id'] == id_orden]
                        origin_price = origin_price[origin_price['source'] == 'orig']
                        origin_price = origin_price[origin_price['type'] == 'bid']['price'].values[0]
                        #print('El precio de origen es:', origin_price)
                        #EJECUTAR BIDS
                        inventory, tokens, ex_D_final_2, ex_O_final_2 = execute_bids(origin_price, to_ex.loc[j]['price'], taker_fee, maker_fee, 
                                                                         to_ex.loc[j]['size'], inventory, tokens,ex_D_final_2,ex_O_final_2, lat)
                        ex_D_final = ex_D_final_2
                        ex_O_final = ex_O_final_2
                        order_historical.loc[len(order_historical)] = [to_ex.loc[j]['size'], to_ex.loc[j]['price'], 'bid', 'destination', 'executed',0]
                        order_historical.loc[len(order_historical)] = [to_ex.loc[j]['size'], origin_price, 'bid', 'origin', 'executed',0]
                        
                        destination_bid = order_pairs[order_pairs['id'] == id_orden]
                        destination_bid = destination_bid[destination_bid['source'] == 'des']
                        destination_bid = destination_bid[destination_bid['type'] == 'bid']['price'].values[0]
                        

                        index_ex = order_historical[(order_historical['price'] == destination_bid) & (order_historical['status'] == 'posted')].index[0]
                        order_historical.iloc[index_ex,5] = 0

                    else:
                        
                        id_orden = order_pairs[order_pairs['price'] == to_ex.loc[j]['price']]['id'].values[0]
                        #print(order_pairs[order_pairs['id'] == id_orden])
                        origin_price = order_pairs[order_pairs['id'] == id_orden]
                        origin_price = origin_price[origin_price['source'] == 'orig']
                        origin_price = origin_price[origin_price['type'] == 'ask']['price'].values[0]
                        #print('El precio de origen es:', origin_price)
                       #EJECUTAR ASK
                        inventory, tokens, ex_D_final_2, ex_O_final_2 = execute_asks(origin_price, to_ex.loc[j]['price'], taker_fee, 
                                                                                     maker_fee, to_ex.loc[j]['size'], inventory, tokens,ex_D_final_2,ex_O_final_2, lat)

                        ex_D_final = ex_D_final_2
                        ex_O_final = ex_O_final_2

                        order_historical.loc[len(order_historical)] = [to_ex.loc[j]['size'], to_ex.loc[j]['price'], 'ask', 'destination', 'executed',0]
                        order_historical.loc[len(order_historical)] = [to_ex.loc[j]['size'], origin_price, 'ask', 'origin', 'executed',0]

                        destination_ask = order_pairs[order_pairs['id'] == id_orden]
                        destination_ask = destination_ask[destination_ask['source'] == 'des']
                        destination_ask = destination_ask[destination_ask['type'] == 'ask']['price'].values[0]
                        
                        
                        index_ex = order_historical[(order_historical['price'] == destination_ask) & (order_historical['status'] == 'posted')].index[0]
                        order_historical.iloc[index_ex,5] = 0

                
            if (time_i + tdelta) < timer():
                print(time_i + tdelta)
                print(timer())
                break

            if init_bid >= 0:



                bid_example = ex_O_final[ex_O_final['Type'] =='bid']
                bid_example = bid_example[bid_example['price'] == bid_example['price'][init_bid]]


                ask_example = ex_O_final[ex_O_final['Type'] =='ask']
                ask_example = ask_example[ask_example['price'] == ask_example['price'][init_ask]]

                init_bid = init_bid - 1
                init_ask = init_ask + 1

                print('bid id', init_bid)


                ex_D_final, inventory, tokens = post_maker_bid(bid_example['price'], bid_example['size'], taker_fee, maker_fee,
                                                       inventory, tokens,ex_D_final, decimals, profit, lat)
                
                
                
                
                ex_D_final, inventory, tokens = post_maker_ask(ask_example['price'], ask_example['size'], taker_fee, maker_fee,
                                                       inventory, tokens,ex_D_final, decimals, profit, lat)
                
        
                

                print(inventory, tokens)

                ex_D_final_2 = ex_D_final.copy()
                ex_O_final_2 = ex_O_final.copy()

                destination_bid = calc_D_bid(float(bid_example['price']), taker_fee, maker_fee, decimals, profit) #calculamos los precios posteados
                destination_ask = calc_D_ask(float(ask_example['price']), taker_fee, maker_fee, decimals, profit) #calculamos los precios posteados
                
                idf = len(order_pairs)
                
                order_pairs.loc[len(order_pairs)] = [bid_example['size'].values[0],bid_example['price'].values[0],'bid', 'orig', idf]
                order_pairs.loc[len(order_pairs)] = [bid_example['size'].values[0],destination_bid,'bid', 'des', idf]
                
                order_pairs.loc[len(order_pairs)] = [ask_example['size'].values[0],ask_example['price'].values[0],'ask', 'orig',idf]
                order_pairs.loc[len(order_pairs)] = [ask_example['size'].values[0],destination_ask,'ask', 'des', idf]
                
                
                
                if not ex_D_final[(ex_D_final['price'] == destination_bid) & (ex_D_final['Type'] == 'bid')].empty:
                    random_time_ex = np.random.uniform(min(timer()-time_i,tdelta), tdelta)
                    
                    order_historical.loc[len(order_historical)] = [bid_example['size'].values[0], destination_bid, 'bid', 'destination', 'posted',random_time_ex]
                    
                if not ex_D_final[(ex_D_final['price'] == destination_ask) & (ex_D_final['Type'] == 'ask')].empty:
                    random_time_ex = np.random.uniform(min(timer()-time_i,tdelta), tdelta)
                    order_historical.loc[len(order_historical)] = [ask_example['size'].values[0], destination_ask, 'ask', 'destination', 'posted',random_time_ex]
                
                
                print('Destination BID', destination_bid)
                print('Destination ASK', destination_ask)

                #Se ejecutan??? CASO BID
                
                best_ask = ex_D_final_2[ex_D_final_2['Type'] =='ask']
                best_ask = best_ask[best_ask['price'] == best_ask['price'].min()]
                #print('Best ASK colocation',best_ask['price'].values[0])
                
                if destination_bid > best_ask['price'].values[0]:
                    print('Se ejecuta BID')
                    #ejecutamos los bids
                    inventory, tokens, ex_D_final_2, ex_O_final_2 = execute_bids(float(bid_example['price']), destination_bid, taker_fee, maker_fee, 
                                                                     float(bid_example['size']), inventory, tokens,ex_D_final_2,ex_O_final_2, lat)
                    ex_D_final = ex_D_final_2
                    ex_O_final = ex_O_final_2
                    order_historical.loc[len(order_historical)] = [bid_example['size'].values[0], destination_bid, 'bid', 'destination', 'executed',0]
                    order_historical.loc[len(order_historical)] = [bid_example['size'].values[0], float(bid_example['price']), 'bid', 'origin', 'executed',0]
                    
                    
                    index_ex = order_historical[(order_historical['price'] == destination_bid) & (order_historical['status'] == 'posted')].index[0]
                    order_historical.iloc[index_ex,5] = 0

                    
                    
                    
                #Se ejecutan??? CASO BID
                best_bid = ex_D_final_2[ex_D_final_2['Type'] =='bid']
                best_bid = best_bid[best_bid['price'] == best_bid['price'].max()]
                #print('Best BID colocation',best_bid['price'].values[0])

                if destination_ask < best_bid['price'].values[0]:
                    print('Se ejecuta ASK')        
                    #ejecutamos los asks
                    inventory, tokens, ex_D_final_2, ex_O_final_2 = execute_asks(float(ask_example['price']), destination_ask, taker_fee, maker_fee, 
                                                                        float(ask_example['size']), inventory, tokens,ex_D_final_2,ex_O_final_2, lat)

                    ex_D_final = ex_D_final_2
                    ex_O_final = ex_O_final_2
                    
                    order_historical.loc[len(order_historical)] = [ask_example['size'].values[0], destination_ask, 'ask', 'destination', 'executed',0]
                    order_historical.loc[len(order_historical)] = [ask_example['size'].values[0], float(ask_example['price']), 'ask', 'origin', 'executed',0]

                    index_ex = order_historical[(order_historical['price'] == destination_ask) & (order_historical['status'] == 'posted')].index[0]
                    order_historical.iloc[index_ex,5] = 0

                
                #print(inventory['fiat']+tokens['fiat'])

                #print('Destination final',ex_D_final)
                #print('Origin final',ex_O_final)
        display(order_historical)
        print(inventory, tokens)
        print('TIMEDELTA',tdelta)
                    
    else:
        pass

Al momento
2021-11-24T15:15:52.234Z bitfinex
2021-11-24T15:15:52.328Z kraken
TIEMPO MAS CERCANO FUTURO BITFINEX 2021-11-24 15:15:54.154000+00:00

'Highest Bid Prices'

'Destination: bitfinex 56296.0'

'Origin: kraken 56308.4'

'Lowest Ask Prices'

'Destination: bitfinex 56297.0'

'Origin: kraken 56308.5'

    size    price Type
80  0.05  56308.4  bid

     size    price Type
81  0.309  56308.5  ask

1.92

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 79
Order posted
size        0.05
price    56308.4
Type         bid
Name: -1, dtype: object
Order posted
size       0.309
price    56308.5
Type         ask
Name: -1, dtype: object
{'asset': 99.95, 'fiat': 982600.6641462418} {'asset': 0.05, 'fiat': 17399.33585375816}
Destination BID 56308.369728978
Destination ASK 56308.530271062
Se ejecuta BID

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 78
Order posted
size       0.081
price    56304.9
Type         bid
Name: -1, dtype: object
Order posted
size     0.177
price    56309
Type       ask
Name: -1, dtype: object
{'asset': 99.919, 'fiat': 972633.965788232} {'asset': 0.081, 'fiat': 27366.034711768043}
Destination BID 56304.869730238
Destination ASK 56309.030271242
Se ejecuta BID

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 77
Order posted
size        0.02
price    56304.8
Type         bid
Name: -1, dtype: object
Order posted
size       4.442
price    56312.5
Type         ask
Name: -1, dtype: object
{'asset': 99.98, 'fiat': 722493.7063177782} {'asset': 0.02, 'fiat': 277506.29499222204}
Destination BID 56304.769730274
Destination ASK 56312.530272502
Se ejecuta BID

   index   size         price type       source  status  time_delta
0      9  4.442  56312.530273  ask  destination  posted    0.983462

bid id 76
Order posted
size       0.099
price    56304.7
Type         bid
Name: -1, dtype: object
Order posted
size         0.5
price    56317.3
Type         ask
Name: -1, dtype: object
{'asset': 99.901, 'fiat': 944475.2756370911} {'asset': 0.099, 'fiat': 55524.770292904555}
Destination BID 56304.66973031
Destination ASK 56317.33027423
Se ejecuta BID

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 75
Order posted
size       0.064
price    56303.8
Type         bid
Name: -1, dtype: object
Order posted
size         0.2
price    56318.2
Type         ask
Name: -1, dtype: object
{'asset': 99.936, 'fiat': 933211.6295821803} {'asset': 0.064, 'fiat': 66788.41733781545}
Destination BID 56303.769730634
Destination ASK 56318.230274554
Se ejecuta BID

   index   size         price type       source  status  time_delta
0      1  0.309  56308.530271  ask  destination  posted    1.322507
1     15  0.500  56317.330274  ask  destination  posted    1.484767

bid id 74
Order posted
size       0.073
price    56302.5
Type         bid
Name: -1, dtype: object
Order posted
size       0.711
price    56318.3
Type         ask
Name: -1, dtype: object
{'asset': 99.927, 'fiat': 938727.2931920198} {'asset': 0.073, 'fiat': 61272.762457975114}
Destination BID 56302.469731102
Destination ASK 56318.33027459
Se ejecuta BID

   index   size         price type       source  status  time_delta
0      5  0.177  56309.030271  ask  destination  posted    1.901086
1     19  0.200  56318.230275  ask  destination  posted    1.726378
2     27  0.711  56318.330275  ask  destination  posted    1.886747

12509.233380839
12509.413683014

     size         price type       source    status  time_delta
0   0.050  56308.369729  bid  destination    posted         0.0
1   0.309  56308.530271  ask  destination    posted         0.0
2   0.050  56308.369729  bid  destination  executed         0.0
3   0.050  56308.400000  bid       origin  executed         0.0
4   0.081  56304.869730  bid  destination    posted         0.0
5   0.177  56309.030271  ask  destination    posted         0.0
6   0.081  56304.869730  bid  destination  executed         0.0
7   0.081  56304.900000  bid       origin  executed         0.0
8   0.020  56304.769730  bid  destination    posted         0.0
9   4.442  56312.530273  ask  destination    posted         0.0
10  0.020  56304.769730  bid  destination  executed         0.0
11  0.020  56304.800000  bid       origin  executed         0.0
12  4.442  56312.530273  ask  destination  executed         0.0
13  4.442  56312.500000  ask       origin  executed         0.0
14  0.099  56304.669730  bid  destination    posted         0.0
15  0.500  56317.330274  ask  destination    posted         0.0
16  0.099  56304.669730  bid  destination  executed         0.0
17  0.099  56304.700000  bid       origin  executed         0.0
18  0.064  56303.769731  bid  destination    posted         0.0
19  0.200  56318.230275  ask  destination    posted         0.0
20  0.064  56303.769731  bid  destination  executed         0.0
21  0.064  56303.800000  bid       origin  executed         0.0
22  0.309  56308.530271  ask  destination  executed         0.0
23  0.309  56308.500000  ask       origin  executed         0.0
24  0.500  56317.330274  ask  destination  executed         0.0
25  0.500  56317.300000  ask       origin  executed         0.0
26  0.073  56302.469731  bid  destination    posted         0.0
27  0.711  56318.330275  ask  destination    posted         0.0
28  0.073  56302.469731  bid  destination  executed         0.0
29  0.073  56302.500000  bid       origin  executed         0.0
30  0.177  56309.030271  ask  destination  executed         0.0
31  0.177  56309.000000  ask       origin  executed         0.0
32  0.200  56318.230275  ask  destination  executed         0.0
33  0.200  56318.200000  ask       origin  executed         0.0
34  0.711  56318.330275  ask  destination  executed         0.0
35  0.711  56318.300000  ask       origin  executed         0.0

{'asset': 100.0, 'fiat': 999999.9643029062} {'asset': 0.0, 'fiat': 0.1029570876780781}
TIMEDELTA 1.92
Al momento
2021-11-24T15:15:54.154Z bitfinex
2021-11-24T15:15:55.277Z kraken
TIEMPO MAS CERCANO FUTURO BITFINEX 2021-11-24 15:15:55.279000+00:00

'Highest Bid Prices'

'Destination: bitfinex 56285.0'

'Origin: kraken 56308.4'

'Lowest Ask Prices'

'Destination: bitfinex 56290.0'

'Origin: kraken 56308.5'

    size    price Type
80  0.05  56308.4  bid

     size    price Type
81  0.309  56308.5  ask

1.125

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 79
Order posted
size        0.05
price    56308.4
Type         bid
Name: -1, dtype: object
Order posted
size       0.309
price    56308.5
Type         ask
Name: -1, dtype: object
{'asset': 99.95, 'fiat': 982600.6641462418} {'asset': 0.05, 'fiat': 17399.33585375816}
Destination BID 56308.369728978
Destination ASK 56308.530271062
Se ejecuta BID

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 78
Order posted
size       0.081
price    56304.9
Type         bid
Name: -1, dtype: object
Order posted
size     0.177
price    56309
Type       ask
Name: -1, dtype: object
{'asset': 99.919, 'fiat': 972633.965788232} {'asset': 0.081, 'fiat': 27366.034711768043}
Destination BID 56304.869730238
Destination ASK 56309.030271242
Se ejecuta BID

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 77
Order posted
size        0.02
price    56304.8
Type         bid
Name: -1, dtype: object
Order posted
size       4.442
price    56312.5
Type         ask
Name: -1, dtype: object
{'asset': 99.98, 'fiat': 722493.7063177782} {'asset': 0.02, 'fiat': 277506.29499222204}
Destination BID 56304.769730274
Destination ASK 56312.530272502
Se ejecuta BID

   index   size         price type       source  status  time_delta
0      1  0.309  56308.530271  ask  destination  posted    0.555952

bid id 76
Order posted
size       0.099
price    56304.7
Type         bid
Name: -1, dtype: object
Order posted
size         0.5
price    56317.3
Type         ask
Name: -1, dtype: object
{'asset': 99.901, 'fiat': 711734.3752944877} {'asset': 0.099, 'fiat': 288265.6293055122}
Destination BID 56304.66973031
Destination ASK 56317.33027423
Se ejecuta BID

   index   size         price type       source  status  time_delta
0      9  4.442  56312.530273  ask  destination  posted    0.755185

bid id 75
Order posted
size       0.064
price    56303.8
Type         bid
Name: -1, dtype: object
Order posted
size         0.2
price    56318.2
Type         ask
Name: -1, dtype: object
{'asset': 99.936, 'fiat': 950610.9636960048} {'asset': 0.064, 'fiat': 49389.08631399057}
Destination BID 56303.769730634
Destination ASK 56318.230274554
Se ejecuta BID

   index   size         price type       source  status  time_delta
0      5  0.177  56309.030271  ask  destination  posted    0.997617
1     15  0.500  56317.330274  ask  destination  posted    1.000397
2     21  0.200  56318.230275  ask  destination  posted    1.051863

12510.838235764
12511.063791336

     size         price type       source    status  time_delta
0   0.050  56308.369729  bid  destination    posted         0.0
1   0.309  56308.530271  ask  destination    posted         0.0
2   0.050  56308.369729  bid  destination  executed         0.0
3   0.050  56308.400000  bid       origin  executed         0.0
4   0.081  56304.869730  bid  destination    posted         0.0
5   0.177  56309.030271  ask  destination    posted         0.0
6   0.081  56304.869730  bid  destination  executed         0.0
7   0.081  56304.900000  bid       origin  executed         0.0
8   0.020  56304.769730  bid  destination    posted         0.0
9   4.442  56312.530273  ask  destination    posted         0.0
10  0.020  56304.769730  bid  destination  executed         0.0
11  0.020  56304.800000  bid       origin  executed         0.0
12  0.309  56308.530271  ask  destination  executed         0.0
13  0.309  56308.500000  ask       origin  executed         0.0
14  0.099  56304.669730  bid  destination    posted         0.0
15  0.500  56317.330274  ask  destination    posted         0.0
16  0.099  56304.669730  bid  destination  executed         0.0
17  0.099  56304.700000  bid       origin  executed         0.0
18  4.442  56312.530273  ask  destination  executed         0.0
19  4.442  56312.500000  ask       origin  executed         0.0
20  0.064  56303.769731  bid  destination    posted         0.0
21  0.200  56318.230275  ask  destination    posted         0.0
22  0.064  56303.769731  bid  destination  executed         0.0
23  0.064  56303.800000  bid       origin  executed         0.0
24  0.177  56309.030271  ask  destination  executed         0.0
25  0.177  56309.000000  ask       origin  executed         0.0
26  0.500  56317.330274  ask  destination  executed         0.0
27  0.500  56317.300000  ask       origin  executed         0.0
28  0.200  56318.230275  ask  destination  executed         0.0
29  0.200  56318.200000  ask       origin  executed         0.0

{'asset': 100.0, 'fiat': 999999.9683071395} {'asset': 0.0, 'fiat': 0.09111285506696731}
TIMEDELTA 1.125
Al momento
2021-11-24T15:15:56.773Z bitfinex
2021-11-24T15:15:58.376Z kraken
TIEMPO MAS CERCANO FUTURO BITFINEX 2021-11-24 15:15:58.672000+00:00

'Highest Bid Prices'

'Destination: bitfinex 56285.0'

'Origin: kraken 56300.0'

'Lowest Ask Prices'

'Destination: bitfinex 56290.0'

'Origin: kraken 56300.1'

    size    price Type
77  4.09  56300.0  bid

     size    price Type
78  3.412  56300.1  ask

1.899

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 76
Order posted
size      4.09
price    56300
Type       bid
Name: -1, dtype: object
Order posted
size       3.412
price    56300.1
Type         ask
Name: -1, dtype: object
{'asset': 95.91, 'fiat': 807903.9555254544} {'asset': 4.09, 'fiat': 192096.04447454566}
Destination BID 56299.969732002
Destination ASK 56300.130268038
Se ejecuta BID

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 75
Order posted
size       0.075
price    56294.2
Type         bid
Name: -1, dtype: object
Order posted
size       0.176
price    56300.2
Type         ask
Name: -1, dtype: object
{'asset': 99.925, 'fiat': 797995.1149982733} {'asset': 0.075, 'fiat': 202004.9259017309}
Destination BID 56294.16973409
Destination ASK 56300.230268074
Se ejecuta BID

   index   size         price type       source  status  time_delta
0      1  3.412  56300.130268  ask  destination  posted    0.186948

bid id 74
Order posted
size     0.073
price    56294
Type       bid
Name: -1, dtype: object
Order posted
size       4.443
price    56300.3
Type         ask
Name: -1, dtype: object
{'asset': 99.927, 'fiat': 739948.7728820017} {'asset': 0.073, 'fiat': 260051.30288799896}
Destination BID 56293.969734162
Destination ASK 56300.33026811
Se ejecuta BID

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 73
Order posted
size       0.076
price    56291.6
Type         bid
Name: -1, dtype: object
Order posted
size       4.443
price    56302.2
Type         ask
Name: -1, dtype: object
{'asset': 99.924, 'fiat': 489797.96379774995} {'asset': 0.076, 'fiat': 510202.1127022507}
Destination BID 56291.569735026
Destination ASK 56302.230268794
Se ejecuta BID

   index   size         price type       source  status  time_delta
0     11  4.443  56300.330268  ask  destination  posted    0.570199

bid id 72
Order posted
size         0.3
price    56291.5
Type         bid
Name: -1, dtype: object
Order posted
size       0.064
price    56305.8
Type         ask
Name: -1, dtype: object
{'asset': 99.7, 'fiat': 736336.7330274401} {'asset': 0.30000000000000004, 'fiat': 263663.388662556}
Destination BID 56291.469735062
Destination ASK 56305.83027009
Se ejecuta BID

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 71
Order posted
size       0.096
price    56290.3
Type         bid
Name: -1, dtype: object
Order posted
size       0.711
price    56307.2
Type         ask
Name: -1, dtype: object
{'asset': 99.904, 'fiat': 696302.2923050479} {'asset': 0.096, 'fiat': 303697.8323849487}
Destination BID 56290.269735494
Destination ASK 56307.230270594
Se ejecuta BID

   index   size         price type       source  status  time_delta
0      5  0.176  56300.230268  ask  destination  posted    0.981431
1     25  0.711  56307.230271  ask  destination  posted    1.095672

bid id 70
Order posted
size       0.094
price    56290.1
Type         bid
Name: -1, dtype: object
Order posted
size       0.068
price    56307.4
Type         ask
Name: -1, dtype: object
{'asset': 99.906, 'fiat': 742416.6633018879} {'asset': 0.094, 'fiat': 257583.47121810788}
Destination BID 56290.069735566
Destination ASK 56307.430270666
Se ejecuta BID

   index   size         price type       source  status  time_delta
0     15  4.443  56302.230269  ask  destination  posted    1.276537
1     33  0.068  56307.430271  ask  destination  posted    1.385176

bid id 69
Order posted
size         0.1
price    56289.3
Type         bid
Name: -1, dtype: object
Order posted
size       0.592
price    56307.5
Type         ask
Name: -1, dtype: object
{'asset': 99.9, 'fiat': 963062.294326318} {'asset': 0.1, 'fiat': 36937.886243673325}
Destination BID 56289.269735854
Destination ASK 56307.530270702

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 68
Order posted
size       0.547
price    56285.9
Type         bid
Name: -1, dtype: object
Order posted
size       0.309
price    56308.5
Type         ask
Name: -1, dtype: object
{'asset': 99.35300000000001, 'fiat': 945662.9584725598} {'asset': 0.647, 'fiat': 54337.222097431484}
Destination BID 56285.869737078
Destination ASK 56308.530271062

   index   size        price type       source  status  time_delta
0     21  0.064  56305.83027  ask  destination  posted    1.773813

12513.303132039
12513.331438405

     size         price type       source    status  time_delta
0   4.090  56299.969732  bid  destination    posted    0.000000
1   3.412  56300.130268  ask  destination    posted    0.000000
2   4.090  56299.969732  bid  destination  executed    0.000000
3   4.090  56300.000000  bid       origin  executed    0.000000
4   0.075  56294.169734  bid  destination    posted    0.000000
5   0.176  56300.230268  ask  destination    posted    0.000000
6   0.075  56294.169734  bid  destination  executed    0.000000
7   0.075  56294.200000  bid       origin  executed    0.000000
8   3.412  56300.130268  ask  destination  executed    0.000000
9   3.412  56300.100000  ask       origin  executed    0.000000
10  0.073  56293.969734  bid  destination    posted    0.000000
11  4.443  56300.330268  ask  destination    posted    0.000000
12  0.073  56293.969734  bid  destination  executed    0.000000
13  0.073  56294.000000  bid       origin  executed    0.000000
14  0.076  56291.569735  bid  destination    posted    0.000000
15  4.443  56302.230269  ask  destination    posted    0.000000
16  0.076  56291.569735  bid  destination  executed    0.000000
17  0.076  56291.600000  bid       origin  executed    0.000000
18  4.443  56300.330268  ask  destination  executed    0.000000
19  4.443  56300.300000  ask       origin  executed    0.000000
20  0.300  56291.469735  bid  destination    posted    0.000000
21  0.064  56305.830270  ask  destination    posted    0.000000
22  0.300  56291.469735  bid  destination  executed    0.000000
23  0.300  56291.500000  bid       origin  executed    0.000000
24  0.096  56290.269735  bid  destination    posted    0.000000
25  0.711  56307.230271  ask  destination    posted    0.000000
26  0.096  56290.269735  bid  destination  executed    0.000000
27  0.096  56290.300000  bid       origin  executed    0.000000
28  0.176  56300.230268  ask  destination  executed    0.000000
29  0.176  56300.200000  ask       origin  executed    0.000000
30  0.711  56307.230271  ask  destination  executed    0.000000
31  0.711  56307.200000  ask       origin  executed    0.000000
32  0.094  56290.069736  bid  destination    posted    0.000000
33  0.068  56307.430271  ask  destination    posted    0.000000
34  0.094  56290.069736  bid  destination  executed    0.000000
35  0.094  56290.100000  bid       origin  executed    0.000000
36  4.443  56302.230269  ask  destination  executed    0.000000
37  4.443  56302.200000  ask       origin  executed    0.000000
38  0.068  56307.430271  ask  destination  executed    0.000000
39  0.068  56307.400000  ask       origin  executed    0.000000
40  0.100  56289.269736  bid  destination    posted    1.858569
41  0.592  56307.530271  ask  destination    posted    1.837360
42  0.547  56285.869737  bid  destination    posted    1.883896
43  0.309  56308.530271  ask  destination    posted    1.869713
44  0.064  56305.830270  ask  destination  executed    0.000000
45  0.064  56305.800000  ask       origin  executed    0.000000

{'asset': 99.35300000000001, 'fiat': 949266.5312494882} {'asset': 0.647, 'fiat': 50733.649960502975}
TIMEDELTA 1.899
Al momento
2021-11-24T15:15:59.767Z bitfinex
2021-11-24T15:16:01.285Z kraken
TIEMPO MAS CERCANO FUTURO BITFINEX 2021-11-24 15:16:01.379000+00:00

'Highest Bid Prices'

'Destination: bitfinex 56283.0'

'Origin: kraken 56300.0'

'Lowest Ask Prices'

'Destination: bitfinex 56295.0'

'Origin: kraken 56300.1'

    size    price Type
77  4.09  56300.0  bid

     size    price Type
78  3.412  56300.1  ask

1.612

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 76
Order posted
size      4.09
price    56300
Type       bid
Name: -1, dtype: object
Order posted
size       3.412
price    56300.1
Type         ask
Name: -1, dtype: object
{'asset': 95.91, 'fiat': 807903.9555254544} {'asset': 4.09, 'fiat': 192096.04447454566}
Destination BID 56299.969732002
Destination ASK 56300.130268038
Se ejecuta BID

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 75
Order posted
size       0.075
price    56294.2
Type         bid
Name: -1, dtype: object
Order posted
size       0.176
price    56300.2
Type         ask
Name: -1, dtype: object
{'asset': 99.925, 'fiat': 797995.1149982733} {'asset': 0.075, 'fiat': 202004.9259017309}
Destination BID 56294.16973409
Destination ASK 56300.230268074

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 74
Order posted
size     0.073
price    56294
Type       bid
Name: -1, dtype: object
Order posted
size       4.443
price    56300.3
Type         ask
Name: -1, dtype: object
{'asset': 99.852, 'fiat': 547852.7476170606} {'asset': 0.148, 'fiat': 452147.2932829436}
Destination BID 56293.969734162
Destination ASK 56300.33026811

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 73
Order posted
size       0.076
price    56291.6
Type         bid
Name: -1, dtype: object
Order posted
size       4.443
price    56302.2
Type         ask
Name: -1, dtype: object
{'asset': 99.77600000000001, 'fiat': 297701.9385328088} {'asset': 0.22399999999999998, 'fiat': 702298.1023671953}
Destination BID 56291.569735026
Destination ASK 56302.230268794

Empty DataFrame
Columns: [index, size, price, type, source, status, time_delta]
Index: []

bid id 72
Order posted
size         0.3
price    56291.5
Type         bid
Name: -1, dtype: object
Order posted
size       0.064
price    56305.8
Type         ask
Name: -1, dtype: object
{'asset': 99.47600000000001, 'fiat': 294098.365395523} {'asset': 0.524, 'fiat': 705901.6755044811}
Destination BID 56291.469735062
Destination ASK 56305.83027009

   index   size         price type       source  status  time_delta
0      1  3.412  56300.130268  ask  destination  posted    0.801405
1      8  0.076  56291.569735  bid  destination  posted    0.777308

bid id 71
Order posted
size       0.096
price    56290.3
Type         bid
Name: -1, dtype: object
Order posted
size       0.711
price    56307.2
Type         ask
Name: -1, dtype: object
{'asset': 99.456, 'fiat': 446159.9499380719} {'asset': 0.544, 'fiat': 553840.1258419288}
Destination BID 56290.269735494
Destination ASK 56307.230270594

   index   size         price type       source  status  time_delta
0      5  0.176  56300.230268  ask  destination  posted    1.074689

bid id 70
Order posted
size       0.094
price    56290.1
Type         bid
Name: -1, dtype: object
Order posted
size       0.068
price    56307.4
Type         ask
Name: -1, dtype: object
{'asset': 99.36200000000001, 'fiat': 452239.88421596354} {'asset': 0.638, 'fiat': 547760.1933240369}
Destination BID 56290.069735566
Destination ASK 56307.430270666

   index   size         price type       source  status  time_delta
0      4  0.075  56294.169734  bid  destination  posted    1.354343
1      6  0.073  56293.969734  bid  destination  posted    1.268721
2      7  4.443  56300.330268  ask  destination  posted    1.116124
3     10  0.300  56291.469735  bid  destination  posted    1.262818

bid id 69
Order posted
size         0.1
price    56289.3
Type         bid
Name: -1, dtype: object
Order posted
size       0.592
price    56307.5
Type         ask
Name: -1, dtype: object
{'asset': 99.71000000000001, 'fiat': 669048.1686626839} {'asset': 0.29000000000000015, 'fiat': 330951.95778731233}
Destination BID 56289.269735854
Destination ASK 56307.530270702

   index   size         price type       source  status  time_delta
0      9  4.443  56302.230269  ask  destination  posted    1.400281
1     11  0.064  56305.830270  ask  destination  posted    1.564470
2     16  0.096  56290.269735  bid  destination  posted    1.412757
3     17  0.711  56307.230271  ask  destination  posted    1.428966
4     20  0.094  56290.069736  bid  destination  posted    1.537473
5     21  0.068  56307.430271  ask  destination  posted    1.449874
6     30  0.100  56289.269736  bid  destination  posted    1.612000
7     31  0.592  56307.530271  ask  destination  posted    1.612000

12515.076919355999
12515.578035096

     size         price type       source    status  time_delta
0   4.090  56299.969732  bid  destination    posted         0.0
1   3.412  56300.130268  ask  destination    posted         0.0
2   4.090  56299.969732  bid  destination  executed         0.0
3   4.090  56300.000000  bid       origin  executed         0.0
4   0.075  56294.169734  bid  destination    posted         0.0
5   0.176  56300.230268  ask  destination    posted         0.0
6   0.073  56293.969734  bid  destination    posted         0.0
7   4.443  56300.330268  ask  destination    posted         0.0
8   0.076  56291.569735  bid  destination    posted         0.0
9   4.443  56302.230269  ask  destination    posted         0.0
10  0.300  56291.469735  bid  destination    posted         0.0
11  0.064  56305.830270  ask  destination    posted         0.0
12  3.412  56300.130268  ask  destination  executed         0.0
13  3.412  56300.100000  ask       origin  executed         0.0
14  0.076  56291.569735  bid  destination  executed         0.0
15  0.076  56291.600000  bid       origin  executed         0.0
16  0.096  56290.269735  bid  destination    posted         0.0
17  0.711  56307.230271  ask  destination    posted         0.0
18  0.176  56300.230268  ask  destination  executed         0.0
19  0.176  56300.200000  ask       origin  executed         0.0
20  0.094  56290.069736  bid  destination    posted         0.0
21  0.068  56307.430271  ask  destination    posted         0.0
22  0.075  56294.169734  bid  destination  executed         0.0
23  0.075  56294.200000  bid       origin  executed         0.0
24  0.073  56293.969734  bid  destination  executed         0.0
25  0.073  56294.000000  bid       origin  executed         0.0
26  4.443  56300.330268  ask  destination  executed         0.0
27  4.443  56300.300000  ask       origin  executed         0.0
28  0.300  56291.469735  bid  destination  executed         0.0
29  0.300  56291.500000  bid       origin  executed         0.0
30  0.100  56289.269736  bid  destination    posted         0.0
31  0.592  56307.530271  ask  destination    posted         0.0
32  4.443  56302.230269  ask  destination  executed         0.0
33  4.443  56302.200000  ask       origin  executed         0.0
34  0.064  56305.830270  ask  destination  executed         0.0
35  0.064  56305.800000  ask       origin  executed         0.0
36  0.096  56290.269735  bid  destination  executed         0.0
37  0.096  56290.300000  bid       origin  executed         0.0
38  0.711  56307.230271  ask  destination  executed         0.0
39  0.711  56307.200000  ask       origin  executed         0.0
40  0.094  56290.069736  bid  destination  executed         0.0
41  0.094  56290.100000  bid       origin  executed         0.0
42  0.068  56307.430271  ask  destination  executed         0.0
43  0.068  56307.400000  ask       origin  executed         0.0
44  0.100  56289.269736  bid  destination  executed         0.0
45  0.100  56289.300000  bid       origin  executed         0.0
46  0.592  56307.530271  ask  destination  executed         0.0
47  0.592  56307.500000  ask       origin  executed         0.0

{'asset': 100.0, 'fiat': 999999.921690096} {'asset': 1.1102230246251565e-16, 'fiat': 0.2664398945416906}
TIMEDELTA 1.612